apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: vitorremesso/backend:latest
          ports:
            - containerPort: 8000
          env:
            - name: RABBIT_USER
              valueFrom: 
                secretKeyRef:
                  name: rabbitmq-auth
                  key: username
            - name: RABBIT_PASS
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-auth
                  key: password
            - name: RABBIT_URL
              value: amqp://$(RABBIT_USER):$(RABBIT_PASS)@rabbitmq:5672/
            - name: RABBIT_EXCHANGE
              value: events
            - name: RABBIT_QUEUE
              value: events.gps
