apiVersion: v1
kind: Service
metadata:
  name: backend
  labels:
    app: backend
spec:
  selector:
    app: backend
  ports:
    - port: 8000
      targetPort: 8000
# Service para expor o backend dentro do cluster
# Porta 8000 para comunicação interna