apiVersion: v1
kind: Service
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      nodePort: 30100
# Service para expor o frontend externamente
# Tipo NodePort para acesso fora do cluster
# Porta 30100 mapeada para 80