# Secret para credenciais do RabbitMQ
# Utilizado para proteger utilizador e palavra-passe
apiVersion: v1
kind: Secret
metadata:
  name: rabbitmq-auth
type: Opaque
stringData:
  username: guest
  password: guest