apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: rabbitmq-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  # storageClassName: default
# PersistentVolumeClaim para dados do RabbitMQ
# Garante persistência dos dados mesmo após reinício do pod
