apiVersion: apps/v1
kind: Deployment
metadata:
  name: simulator
  labels:
    app: simulator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: simulator
  template:
    metadata:
      labels:
        app: simulator
    spec:
      containers:
        - name: simulator
          image: vitorremesso/simulator:latest
          env:
            - name: RABBIT_USER
              valueFrom: 
                secretKeyRef:
                  name: rabbitmq-auth
                  key: username
            - name: RABBIT_PASS
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-auth
                  key: password } }
            - name: RABBIT_URL
              value: amqp://$(RABBIT_USER):$(RABBIT_PASS)@rabbitmq:5672/%2F
            - name: RABBIT_EXCHANGE
              value: events
            - name: RABBIT_ROUTING_KEY
              value: gps.update
            - name: GPX_FILE_PATH
              value: /data/trail_route.gpx
          volumeMounts:
            - name: gpx-volume
              mountPath: /app/trail_route.gpx
              subPath: trail_route.gpx
              readOnly: true
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
      volumes:
        - name: gpx-volume
          persistentVolumeClaim:
            claimName: pvc-gpx