name: Pipeline CI/CD

on:
  push:
    branches:
      - main
    paths:
      - 'backend/**'
      - 'simulator/**'
      - 'frontend/**'
      - 'k8s/**'

jobs:
  # =================================================================
  # JOB 1: BACKEND (Consumidor)
  # =================================================================
  build_backend:
    name: Push backend image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: 1. Checkout do Código
        uses: actions/checkout@v4

      - name: 2. Definir Variáveis e Tag
        id: vars
        run: echo "TAG=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT
      
      - name: 3. Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: 4. Build e Push da Imagem do Backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/backend:${{ steps.vars.outputs.TAG }}
            ${{ secrets.DOCKER_USERNAME }}/backend:latest
      
      - name: 5. Update backend deployment YAML
        run: |
          sed -i "s|image: ${{ secrets.DOCKER_USERNAME }}/backend:.*|image: ${{ secrets.DOCKER_USERNAME }}/backend:${{ steps.vars.outputs.TAG }}|g" k8s/backend/back-deployment.yaml
      
      - name: 6. Commit and push backend manifest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.email "marco.ascensao@programacao.org"
          git config --global user.name "mpfa"
          git pull --rebase
          git add k8s/backend/back-deployment.yaml
          git commit -m "Update backend image tag to ${{ steps.vars.outputs.TAG }} [ci skip]" || echo "No changes to commit"
          git push https://x-access-token:${GITHUB_TOKEN}@github.com/${{ github.repository }} HEAD:${{ github.ref }}
      

  # =================================================================
  # JOB 2: SIMULATOR (Produtor)
  # =================================================================
  build_simulator:
    needs: build_backend
    name: Push simulator image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: 1. Checkout do Código
        uses: actions/checkout@v4

      - name: 2. Definir Variáveis e Tag
        id: vars
        run: echo "TAG=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT
      
      - name: 3. Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: 4. Build e Push da Imagem do Simulator
        uses: docker/build-push-action@v5
        with:
          context: ./simulator
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/simulator:${{ steps.vars.outputs.TAG }}
            ${{ secrets.DOCKER_USERNAME }}/simulator:latest

      - name: 5.Update simulator deployment YAML
        run: |
          sed -i "s|image: ${{ secrets.DOCKER_USERNAME }}/simulator:.*|image: ${{ secrets.DOCKER_USERNAME }}/simulator:${{ steps.vars.outputs.TAG }}|g" k8s/simulator/sim-deployment.yaml
      
      - name: 6. Commit and push simulator manifest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.email "marco.ascensao@programacao.org"
          git config --global user.name "mpfa"
          git pull --rebase
          git add k8s/simulator/sim-deployment.yaml
          git commit -m "Update simulator image tag to ${{ steps.vars.outputs.TAG }} [ci skip]" || echo "No changes to commit"
          git push https://x-access-token:${GITHUB_TOKEN}@github.com/${{ github.repository }} HEAD:${{ github.ref }}

  # =================================================================
  # JOB 3: FRONTEND (UI)
  # =================================================================
  build_frontend:
    needs: build_simulator
    name: Push frontend image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: 1. Checkout do Código
        uses: actions/checkout@v4

      - name: 2. Definir Variáveis e Tag
        id: vars
        run: echo "TAG=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT
      
      - name: 3. Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: 4. Build e Push da Imagem do Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/frontend:${{ steps.vars.outputs.TAG }}
            ${{ secrets.DOCKER_USERNAME }}/frontend:latest

      - name: 5. Update frontend deployment YAML
        run: |
          sed -i "s|image: ${{ secrets.DOCKER_USERNAME }}/frontend:.*|image: ${{ secrets.DOCKER_USERNAME }}/frontend:${{ steps.vars.outputs.TAG }}|g" k8s/frontend/front-deployment.yaml
      
      - name: 6. Commit and push frontend manifest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.email "marco.ascensao@programacao.org"
          git config --global user.name "mpfa"
          git pull --rebase
          git add k8s/frontend/front-deployment.yaml
          git commit -m "Update frontend image tag to ${{ steps.vars.outputs.TAG }} [ci skip]" || echo "No changes to commit"
          git push https://x-access-token:${GITHUB_TOKEN}@github.com/${{ github.repository }} HEAD:${{ github.ref }}