name: Pipeline CI/CD

on:
  push:
    branches:
      - main
    paths:
      - 'backend/**'
      - 'simulator/**'
      - 'frontend/**'
      - 'k8s/**'

jobs:
  # =================================================================
  # JOB 1: BACKEND (Consumidor)
  # =================================================================
  build_backend:
    name: Push backend image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: 1. Checkout do Código
        uses: actions/checkout@v4

      - name: 2. Definir Variáveis e Tag
        id: vars
        run: echo "TAG=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT
      
      - name: 3. Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: 4. Build e Push da Imagem do Backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend # Set context to the backend folder
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/backend:${{ steps.vars.outputs.TAG }} # Version tag
            ${{ secrets.DOCKER_USERNAME }}/backend:latest # Latest tag

  # =================================================================
  # JOB 2: SIMULATOR (Produtor)
  # =================================================================
  build_simulator:
    needs: build_backend # Waits for backend build to complete
    name: Push simulator image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: 1. Checkout do Código
        uses: actions/checkout@v4

      - name: 2. Definir Variáveis e Tag
        id: vars
        run: echo "TAG=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT
      
      - name: 3. Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: 4. Build e Push da Imagem do Simulator
        uses: docker/build-push-action@v5
        with:
          context: ./simulator # Set context to the simulator folder
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/simulator:${{ steps.vars.outputs.TAG }}
            ${{ secrets.DOCKER_USERNAME }}/simulator:latest

  # =================================================================
  # JOB 3: FRONTEND (UI)
  # =================================================================
  build_frontend:
    needs: build_simulator # Waits for simulator build to complete
    name: Push frontend image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: 1. Checkout do Código
        uses: actions/checkout@v4

      - name: 2. Definir Variáveis e Tag
        id: vars
        run: echo "TAG=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT
      
      - name: 3. Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: 4. Build e Push da Imagem do Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend # Set context to the frontend folder
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/frontend:${{ steps.vars.outputs.TAG }}
            ${{ secrets.DOCKER_USERNAME }}/frontend:latest